In [2]:
from main import GLUELoader

In [7]:
## init GLUELoader
glue_loader = GLUELoader()

# ax

A manually-curated evaluation dataset for fine-grained analysis of system performance on a broad range of linguistic phenomena. This dataset evaluates sentence understanding through Natural Language Inference (NLI) problems. Use a model trained on MulitNLI to produce predictions for this dataset.

In [18]:
ax = glue_loader.load_dataset("ax")
ax["test"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/ax/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 1/1 [00:00<00:00, 742.75it/s]

,premise,hypothesis,label,idx
39,Falcon Heavy is the smallest rocket since NASA...,Falcon Heavy is the largest rocket since NASA'...,-1,39
1019,The first experience I had interacting with an...,The first pleasurable experience I had interac...,-1,1019
438,Though the power grab has earned Xi comparison...,Though the power grab has earned Xi comparison...,-1,438
376,Everyone has a set of principles to live by.,No one has a set of principles to live by.,-1,376
292,The sides came to an agreement after their mee...,The sides came to an agreement after their mee...,-1,292

# cola
The Corpus of Linguistic Acceptability consists of English acceptability judgments drawn from books and journal articles on linguistic theory. Each example is a sequence of words annotated with whether it is a grammatical English sentence.

In [17]:
cola = glue_loader.load_dataset("cola")
cola["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/cola/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 3/3 [00:00<00:00, 976.02it/s]

                                               sentence  label   idx
805                 Mary reported he to have loved her.      0   805
933   While Rusty might leave in order to please Mag...      0   933
1813           This violin is tough to play sonatas on.      1  1813
8468                                     Anson appeared      1  8468
3751                             The dog fears thunder.      1  3751

# mnli
The Multi-Genre Natural Language Inference Corpus is a crowdsourced collection of sentence pairs with textual entailment annotations. Given a premise sentence and a hypothesis sentence, the task is to predict whether the premise entails the hypothesis (entailment), contradicts the hypothesis (contradiction), or neither (neutral). The premise sentences are gathered from ten different sources, including transcribed speech, fiction, and government reports. The authors of the benchmark use the standard test set, for which they obtained private labels from the RTE authors, and evaluate on both the matched (in-domain) and mismatched (cross-domain) section. They also uses and recommend the SNLI corpus as 550k examples of auxiliary training data.

In [19]:
mnli = glue_loader.load_dataset("mnli")
mnli["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/mnli/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 5/5 [00:00<00:00, 823.32it/s]

,premise,hypothesis,label,idx
258738,"Jon, said San'doro.",San'doro spoke to Jon.,1,258738
70421,He was accused of lacking a social psychology ...,Someone was praised for lacking something usef...,0,70421
272389,"He could trust Kells, Drew thought.",Drew knew Kells could not be trusted.,2,272389
41445,Continue up the coast to Lanusei and head inla...,The mountains are right along the coast.,2,41445
183268,Oh! Tuppence laid down her spoon.,Oh! She put her spoon down.,0,183268

# mrpc
The Microsoft Research Paraphrase Corpus (Dolan & Brockett, 2005) is a corpus of sentence pairs automatically extracted from online news sources, with human annotations for whether the sentences in the pair are semantically equivalent.

In [20]:
mrpc = glue_loader.load_dataset("mrpc")
mrpc["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/mrpc/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 3/3 [00:00<00:00, 798.56it/s]

,sentence1,sentence2,label,idx
1736,"As such , consumers want to easily enjoy this ...",The companies say their consumers want to enjo...,1,1931
27,Duque will return to Earth Oct. 27 with the st...,Currently living onboard the space station are...,0,30
300,Clearly Roman creams of any type do not normal...,"Clearly Roman creams of any type , paint or co...",1,329
1693,The statewide unemployment rate fell to 6.4 pe...,The unemployment rate in San Joaquin County di...,0,1882
3053,"Experts say they think better treatment , incl...","Experts say they think better treatment , incl...",1,3389

# qnli
The Stanford Question Answering Dataset is a question-answering dataset consisting of question-paragraph pairs, where one of the sentences in the paragraph (drawn from Wikipedia) contains the answer to the corresponding question (written by an annotator). The authors of the benchmark convert the task into sentence pair classification by forming a pair between each question and each sentence in the corresponding context, and filtering out pairs with low lexical overlap between the question and the context sentence. The task is to determine whether the context sentence contains the answer to the question. This modified version of the original task removes the requirement that the model select the exact answer, but also removes the simplifying assumptions that the answer is always present in the input and that lexical overlap is a reliable cue.

In [21]:
qnli = glue_loader.load_dataset("qnli")
qnli["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/qnli/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 3/3 [00:00<00:00, 1005.11it/s]

,question,sentence,label,idx
62166,The AirTrain has a station at what airport?,"For intercity rail, New York City is served by...",1,62166
10137,"What other ethnicities, besides German were pa...",It had a multi-ethnic and multi-lingual struct...,0,10137
97341,What is the first historically black university?,The Duke Energy Center for the Performing Arts...,1,97341
42101,Who's presence increased in Tibet?,"Kolmaš writes that, as the Mongol presence in ...",1,42101
68643,Whitehead observes that life is deficient in w...,Whitehead makes the startling observation that...,0,68643

# qqp
The Quora Question Pairs2 dataset is a collection of question pairs from the community question-answering website Quora. The task is to determine whether a pair of questions are semantically equivalent.

In [22]:
qqp = glue_loader.load_dataset("qqp")
qqp["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/qqp/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 3/3 [00:00<00:00, 376.52it/s]

,question1,question2,label,idx
205804,What should you say when the recruiter from a ...,Is a recruiter and an interviewer from a compa...,0,205804
331107,How do I prepare for CDS exam in 3 years?,How do I prepare for cds in 1 month?,0,331107
21455,Keith Rabois: What lessons did you learn from ...,Why is Peter Thiel a libertarian?,0,21455
243455,How can I start to learn chemistry?,How do you start learning chemistry by yourself?,0,243455
99872,What are the best tips/solutions to fight emai...,What is the best free third-party email client...,0,99872

# sst2
The Stanford Sentiment Treebank consists of sentences from movie reviews and human annotations of their sentiment. The task is to predict the sentiment of a given sentence. It uses the two-way (positive/negative) class split, with only sentence-level labels.

In [23]:
sst2 = glue_loader.load_dataset("sst2")
sst2["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/sst2/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 3/3 [00:00<00:00, 576.54it/s]

                                                sentence  label    idx
62036                                         witty and       1  62036
43452  's an experience in understanding a unique cul...      1  43452
35564                                        rollicking       1  35564
41167            where its recent predecessor miserably       0  41167
2977                                   low , very low ,       0   2977

# stsb 
The Semantic Textual Similarity Benchmark (Cer et al., 2017) is a collection of sentence pairs drawn from news headlines, video and image captions, and natural language inference data. Each pair is human-annotated with a similarity score from 1 to 5.

In [24]:
stsb = glue_loader.load_dataset("stsb")
stsb["train"].sample(frac=1).head()

Reusing dataset glue (/home/juunge/.cache/huggingface/datasets/glue/stsb/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad)
100%|██████████| 3/3 [00:00<00:00, 938.18it/s]

,sentence1,sentence2,label,idx
276,A man is dancing.,A man is riding a horse.,0.8,276
707,A woman is cutting a squash.,A woman is cutting big pepper.,2.2,707
5492,Man Who Set Himself on Fire on National Mall H...,"Man Sets Himself on Fire on National Mall, Flo...",3.0,5492
3954,EU heaps new sanctions on Syria,EU imposes new sanctions on Syrian regime,4.4,3954
1043,A women laying across two men sitting on a sofa.,A man and two women smiling at the camera whil...,2.2,1043

# wnli
The Winograd Schema Challenge (Levesque et al., 2011) is a reading comprehension task in which a system must read a sentence with a pronoun and select the referent of that pronoun from a list of choices. The examples are manually constructed to foil simple statistical methods: Each one is contingent on contextual information provided by a single word or phrase in the sentence. To convert the problem into sentence pair classification, the authors of the benchmark construct sentence pairs by replacing the ambiguous pronoun with each possible referent. The task is to predict if the sentence with the pronoun substituted is entailed by the original sentence. They use a small evaluation set consisting of new examples derived from fiction books that was shared privately by the authors of the original corpus. While the included training set is balanced between two classes, the test set is imbalanced between them (65% not entailment). Also, due to a data quirk, the development set is adversarial: hypotheses are sometimes shared between training and development examples, so if a model memorizes the training examples, they will predict the wrong label on corresponding development set example. As with QNLI, each example is evaluated separately, so there is not a systematic correspondence between a model's score on this task and its score on the unconverted original task. The authors of the benchmark call converted dataset WNLI (Winograd NLI).

In [25]:
wnli = glue_loader.load_dataset("wnli")
wnli["train"].sample(frac=1).head()

Downloading and preparing dataset glue/wnli (download: 28.32 KiB, generated: 154.03 KiB, post-processed: Unknown size, total: 182.35 KiB) to /home/juunge/.cache/huggingface/datasets/glue/wnli/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad...

Downloading: 100%|██████████| 29.0k/29.0k [00:00<00:00, 83.4kB/s]
100%|██████████| 3/3 [00:00<00:00, 590.91it/s]

Dataset glue downloaded and prepared to /home/juunge/.cache/huggingface/datasets/glue/wnli/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96da6053ad. Subsequent calls will reuse this data.

,sentence1,sentence2,label,idx
587,The woman held the girl against her will.,The woman held the girl against the girl's will.,1,587
573,"Jane knocked on Susan's door, but there was no...",Jane was disappointed.,1,573
320,Mark was close to Mr. Singer's heels. He heard...,The captain and all Mark's crew had best stay ...,0,320
254,"Jane knocked on Susan's door, but there was no...",Jane was out.,0,254
117,Sara borrowed the book from the library becaus...,She reads the book when she gets home from work.,1,117